*.[oad]
*.[18]
*.so
.depend
.*swp
*.la
*.lo
*.tar.gz
.deps/
.dirstamp
.libs/
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/build-aux
/config.*
/configure
/libtool
/stamp-h1
/stamp-html
TAGS
axa/libaxa.pc
axa/version.h
Doxyfile
/html
/latex
tests/test-apikey
tests/test-json
tests/test-client_config
tests/test-kill
tests/test-stats
tests/test-tools-without-server.sh
cert_tools/axa_link_certs
cert_tools/axa_link_certs.man
cert_tools/axa_make_cert
cert_tools/axa_make_cert.man
cert_tools/axa_server_cert
cert_tools/axa_server_cert.man
*.log
*.trs
