.*swp
*.la
*.lo
*.o
*.tar.gz
.deps/
.dirstamp
.libs/
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/build-aux
/config.*
/configure
/libtool
/stamp-h1
TAGS
axa/libaxa.pc
axa/version.h
doc/doxygen/Doxyfile
doc/doxygen/doxygen-warnings.txt
doc/doxygen/html
doc/doxygen/latex
